
.image{
    padding-left: 105px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.text-white{
  float: right;
  padding-top: 20px;
  padding-right: 125px;
}
.dropdown{
  color: darkblue;
}
.carousel-inner img{
  width: 100%;
  padding-top: 115px;
}
.awan{
  background-image: url(BG-awan.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  padding: 25px;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

